name: Build VelWallet APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-apk:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Show files
        run: ls -la

      - name: Build APK with Buildozer
        run: |
          docker run --rm \
            --entrypoint bash \
            -v ${{ github.workspace }}:/home/user/app \
            -w /home/user/app \
            kivy/buildozer \
            -c "yes | buildozer android debug"

      - name: List bin folder
        run: ls -R bin || true

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: velwallet-apk
          path: bin/*.apk
